@model EmployeeViewModel

<div class="card text-center">
<div class="card-body">
    <h5 class="card-title">@Model.FirstName Details</h5>
    <p class="card-text">
    <p><b>FirstName</b>@Model.FirstName</p>
    <p><b>MiddleName</b>@Model.MiddleName</p>
    <p><b>LastName</b>@Model.LastName</p>
    <p><b>Address</b>@Model.Address</p>
    <p><b>Contact</b>@Model.Contact</p>
    <p><b>Date of Birth</b>@Model.Dob</p>
    <p><b>Join Date</b>@Model.JoinDate</p>
    <p><b>Email</b>@Model.Email</p>
    <p><b>Gender</b>@Model.Gender</p>
    <p><b>Department</b>@Model.Department</p>
    <p><b>Designation</b>@Model.Designation</p>
    </p>
    <a href="/employees/index" class="btn btn-success">Back To List</a>
</div>
</div>