
@model EmployeeViewModel
@{
    SelectListItem[] department =
          {
        new SelectListItem { Text = "Select designation...", Value=""},
        new SelectListItem { Text = "IT", Value="it"},
        new SelectListItem { Text = "Operator", Value="operator"},
        new SelectListItem { Text = "Research & Developer", Value="rd"},
    };
    SelectListItem[] designations =
          {
        new SelectListItem { Text = "Select designation...", Value=""},
        new SelectListItem { Text = "Software Engineer", Value="se"},
       new SelectListItem { Text = "Sr. Software Engineer", Value="sse"},
        new SelectListItem { Text = "Principal Engineer", Value="pe"},
        new SelectListItem { Text = "Software Architect", Value="sa"},
    };

    string[] gender = Enum.GetNames<Gender>();
}
<div class="card border-2">
    <div class="card-body">
        <form class="row g-3" action="/employees/edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-3">
                <label asp-for=FirstName class="form-label"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for=FirstName class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=MiddleName class="form-label"></label>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
                <input asp-for=MiddleName class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=LastName class="form-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for=LastName class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=Contact class="form-label"></label>
                <span asp-validation-for="Contact" class="text-danger"></span>
                <input asp-for=Contact class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=Gender class="form-label"></label>
                <span asp-validation-for="Gender" class="text-danger"></span>
                <div>
                    @foreach (string g in gender)
                    {
                        var check = g == Gender.Male.ToString() ? "checked" : "";
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Gender" id="@g" value="@g" @check>
                            <label class="form-check-label" for="@g">@g</label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-3">
                <label asp-for=Address class="form-label"></label>
                <input asp-for=Address class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=Dob class="form-label"></label>
                <span asp-validation-for="Dob" class="text-danger"></span>
                <input asp-for=Dob class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=JoinDate class="form-label"></label>
                <span asp-validation-for="JoinDate" class="text-danger"></span>
                <input asp-for=JoinDate class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=Email class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for=Email class="form-control">
            </div>

            <div class="col-md-3">
                <label asp-for=Department class="form-label"></label>
                <span asp-validation-for="Department" class="text-danger"></span>
                <select asp-for=Department asp-items=department class="form-control"></select>
            </div>

            <div class="col-md-3">
                <label asp-for=Designation class="form-label"></label>
                <span asp-validation-for="Designation" class="text-danger"></span>
                <select asp-for=Designation asp-items=designations class="form-control"></select>
            </div>

            <div class="col-md-8">
                <label asp-for="ProfileImage" class="form-label"></label>                
                <input class="form-control" asp-for="ProfileImage">
            </div>

            <div class=" col-4">
                <img src="@Model.ProfileImagePath" height="80" class="mt-2" />
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary w-25 float-end">Save</button>
            </div>
        </form>
    </div>
</div>